@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: #43cea2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1#titulo{
    font-family: 'PT Sans', sans-serif;
    font-size: 50px;
    text-align: center;
}
h2.title{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: -80px;
    font-family: 'PT Sans', sans-serif;
}
#bloco1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #5C5AF5;
    border-radius: 10px;
    margin: 20px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-top: 100px;
}
#bloco1 > .igredientes{
    font-size: 15px;
    text-align: left;
}
.modo-de-fazer{
    font-size: 15px;
    width: 500px;
    text-align: left;
}
.title-igredientes, .title-modo{
    margin-bottom: 30px;
}
li{
      font-family: 'Reem Kufi';
}
img{
    width: 300px;
    height: 300px;
    background-size:100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}